*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    transition: 1s  all;
}
div.wrapper{
    width: 85%;
    margin: 0 auto;
}
div#wrapper h1{
    color: orangered;
    text-align: center;
}

div.lang{
    display: flex;
    background: cadetblue;
    height: 30vh;
    justify-content: center;
   

}
div.lang div.word-box{
    flex-grow: 1;
    margin: 5px;
    background: crimson;
    position: relative;
    /*align-self: center*/
    cursor: pointer

}
.word{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 2em;
}
#fr{

    margin-top:80px;

}
#fr div.word-box{

  
    background-color:lightpink ;

}
.enter {
    border:1px dashed black;
}
.hovered{
    background: aqua !important;
}

.invisible{
    display: none;
}
 #btn{

    width: 100%;
    height: 100vh;
    background-color: #16a085;
    position: relative;






 }
 #btn input{

    padding: 5% 10%;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3em;
    background-color: #bdc3c7;
    color: #16a085;
    transition: 1s ease-in;
    border: none;
    outline: none;
 }
 #btn input:hover{

    box-shadow:5px 5px 10px 20px #bdc3c7;
    color: white


 }

 .right {

    background-color: #77d65a;
    
 }
#boxWin{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
     width: 30%;
     height: 20vh;
     background: burlywood;
     border:1px solid black;
     box-shadow: 5px 5px 10px 15px #eee;
     text-align: center;
     padding: 5px;
     display:none ;

 }
 #boxWin input{
     padding: 15px 35px;
     background: #78e08f;
     font-size: 2em
 }